<a href="https://colab.research.google.com/github/mehjabeenalam-ux/REC-2-Machine-Learning/blob/main/DataFrame_Column_Sorting_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Sorting Columnwise

Import Pandas Library

In [1]:
import pandas as pd

Data Loading

In [3]:
pd.read_csv("data.csv")  #Reads CSV File
df = pd.read_csv("data.csv")
print(df)

         Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
1    1/2/2023        B   39.0  Product3  110.0  North
2    1/3/2023        C   32.0  Product2  398.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
11  1/12/2023        B   60.0  Product2    NaN   West
12  1/13/2023        A   70.0  Product3  628.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
16  1/17/2023        C   93.0  Product2  511.0  South
17  1/18/2023        C    NaN  Product1  108.0   West
18  1/19/2023        A   31.0  Product2  578.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
26  1/27/2023        C   71.0  Product2  619.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
28  1/29/2023        B    NaN  Product3  617.0  North
29  1/30/2023        C   51.0  Product2  737.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
32   2/2/2023        B   63.0  Product3  338.0  South
33   2/3/2023        C   27.0  Product3    NaN   East
34   2/4/2023        C   70.0  Product3  669.0   West
35   2/5/2023        B   60.0  Product2    NaN   West
36   2/6/2023        C   36.0  Product3  177.0   East
37   2/7/2023        C    2.0  Product1    NaN  North
38   2/8/2023        C   94.0  Product1  408.0  South
39   2/9/2023        A   62.0  Product1  155.0   West
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
43  2/13/2023        A   43.0  Product3  949.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North

List all Column Names

In [5]:
print(df.columns)

Index(['Date', 'Category', 'Value', 'Product', 'Sales', 'Region'], dtype='object')

Sort DataFrame By Category

In [4]:
df.sort_values(by='Category')
print(df.sort_values(by='Category'))

         Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
43  2/13/2023        A   43.0  Product3  949.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
39   2/9/2023        A   62.0  Product1  155.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
18  1/19/2023        A   31.0  Product2  578.0   West
14  1/15/2023        A   47.0  Product2  893.0   West
13  1/14/2023        A   69.0  Product1  423.0   East
12  1/13/2023        A   70.0  Product3  628.0  South
24  1/25/2023        A   24.0  Product2  458.0   East
9   1/10/2023        A   22.0  Product2  834.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
10  1/11/2023        B    7.0  Product1  842.0  North
47  2/17/2023        B   69.0  Product3  143.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
45  2/15/2023        B   99.0  Product2  599.0   West
1    1/2/2023        B   39.0  Product3  110.0  North
3    1/4/2023        B    8.0  Product1  522.0   East
40  2/10/2023        B   15.0  Product1  578.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
35   2/5/2023        B   60.0  Product2    NaN   West
32   2/2/2023        B   63.0  Product3  338.0  South
5    1/6/2023        B   54.0  Product3  192.0   West
11  1/12/2023        B   60.0  Product2    NaN   West
28  1/29/2023        B    NaN  Product3  617.0  North
30  1/31/2023        B   50.0  Product3  735.0   West
22  1/23/2023        B   62.0  Product3  942.0  North
26  1/27/2023        C   71.0  Product2  619.0  North
8    1/9/2023        C   37.0  Product3  772.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
16  1/17/2023        C   93.0  Product2  511.0  South
17  1/18/2023        C    NaN  Product1  108.0   West
2    1/3/2023        C   32.0  Product2  398.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
41  2/11/2023        C   97.0  Product1  256.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
38   2/8/2023        C   94.0  Product1  408.0  South
37   2/7/2023        C    2.0  Product1    NaN  North
36   2/6/2023        C   36.0  Product3  177.0   East
34   2/4/2023        C   70.0  Product3  669.0   West
33   2/3/2023        C   27.0  Product3    NaN   East
23  1/24/2023        C   92.0  Product2  342.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
25  1/26/2023        C   95.0  Product1  584.0   West
29  1/30/2023        C   51.0  Product2  737.0  South
27  1/28/2023        C   56.0  Product2  224.0  North
49  2/19/2023        C   11.0  Product3  708.0  North

Sort DataFrame by Date

In [6]:
df.sort_values(by='Date')
print(df.sort_values(by='Date'))

         Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
11  1/12/2023        B   60.0  Product2    NaN   West
12  1/13/2023        A   70.0  Product3  628.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
16  1/17/2023        C   93.0  Product2  511.0  South
17  1/18/2023        C    NaN  Product1  108.0   West
18  1/19/2023        A   31.0  Product2  578.0   West
1    1/2/2023        B   39.0  Product3  110.0  North
19  1/20/2023        A   59.0  Product1  736.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
26  1/27/2023        C   71.0  Product2  619.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
28  1/29/2023        B    NaN  Product3  617.0  North
2    1/3/2023        C   32.0  Product2  398.0   East
29  1/30/2023        C   51.0  Product2  737.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
3    1/4/2023        B    8.0  Product1  522.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
43  2/13/2023        A   43.0  Product3  949.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North
32   2/2/2023        B   63.0  Product3  338.0  South
33   2/3/2023        C   27.0  Product3    NaN   East
34   2/4/2023        C   70.0  Product3  669.0   West
35   2/5/2023        B   60.0  Product2    NaN   West
36   2/6/2023        C   36.0  Product3  177.0   East
37   2/7/2023        C    2.0  Product1    NaN  North
38   2/8/2023        C   94.0  Product1  408.0  South
39   2/9/2023        A   62.0  Product1  155.0   West

Sort DataFrame by Value

In [7]:
df.sort_values(by='Value')
print(df.sort_values(by='Value'))

         Date Category  Value   Product  Sales Region
37   2/7/2023        C    2.0  Product1    NaN  North
46  2/16/2023        B    6.0  Product1  938.0  South
10  1/11/2023        B    7.0  Product1  842.0  North
3    1/4/2023        B    8.0  Product1  522.0   East
49  2/19/2023        C   11.0  Product3  708.0  North
40  2/10/2023        B   15.0  Product1  578.0   East
6    1/7/2023        A   16.0  Product1  936.0   East
31   2/1/2023        A   17.0  Product2  189.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
33   2/3/2023        C   27.0  Product3    NaN   East
0    1/1/2023        A   28.0  Product1  754.0   East
18  1/19/2023        A   31.0  Product2  578.0   West
2    1/3/2023        C   32.0  Product2  398.0   East
36   2/6/2023        C   36.0  Product3  177.0   East
8    1/9/2023        C   37.0  Product3  772.0   West
21  1/22/2023        C   37.0  Product2  992.0  South
1    1/2/2023        B   39.0  Product3  110.0  North
43  2/13/2023        A   43.0  Product3  949.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
30  1/31/2023        B   50.0  Product3  735.0   West
29  1/30/2023        C   51.0  Product2  737.0  South
5    1/6/2023        B   54.0  Product3  192.0   West
27  1/28/2023        C   56.0  Product2  224.0  North
19  1/20/2023        A   59.0  Product1  736.0   East
11  1/12/2023        B   60.0  Product2    NaN   West
35   2/5/2023        B   60.0  Product2    NaN   West
39   2/9/2023        A   62.0  Product1  155.0   West
22  1/23/2023        B   62.0  Product3  942.0  North
32   2/2/2023        B   63.0  Product3  338.0  South
48  2/18/2023        C   65.0  Product3  182.0  North
13  1/14/2023        A   69.0  Product1  423.0   East
47  2/17/2023        B   69.0  Product3  143.0   West
34   2/4/2023        C   70.0  Product3  669.0   West
12  1/13/2023        A   70.0  Product3  628.0  South
26  1/27/2023        C   71.0  Product2  619.0  North
20  1/21/2023        C   82.0  Product3  606.0  South
7    1/8/2023        C   89.0  Product1  488.0   West
23  1/24/2023        C   92.0  Product2  342.0   West
42  2/12/2023        A   93.0  Product3  164.0   West
16  1/17/2023        C   93.0  Product2  511.0  South
38   2/8/2023        C   94.0  Product1  408.0  South
25  1/26/2023        C   95.0  Product1  584.0   West
44  2/14/2023        A   96.0  Product3  830.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
17  1/18/2023        C    NaN  Product1  108.0   West
28  1/29/2023        B    NaN  Product3  617.0  North

Sort DataFrame by Product

In [10]:
df.sort_values(by='Product')
print(df.sort_values(by='Product'))

         Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
19  1/20/2023        A   59.0  Product1  736.0   East
17  1/18/2023        C    NaN  Product1  108.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
13  1/14/2023        A   69.0  Product1  423.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
38   2/8/2023        C   94.0  Product1  408.0  South
37   2/7/2023        C    2.0  Product1    NaN  North
7    1/8/2023        C   89.0  Product1  488.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
46  2/16/2023        B    6.0  Product1  938.0  South
39   2/9/2023        A   62.0  Product1  155.0   West
35   2/5/2023        B   60.0  Product2    NaN   West
31   2/1/2023        A   17.0  Product2  189.0   West
29  1/30/2023        C   51.0  Product2  737.0  South
45  2/15/2023        B   99.0  Product2  599.0   West
27  1/28/2023        C   56.0  Product2  224.0  North
26  1/27/2023        C   71.0  Product2  619.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
21  1/22/2023        C   37.0  Product2  992.0  South
18  1/19/2023        A   31.0  Product2  578.0   West
16  1/17/2023        C   93.0  Product2  511.0  South
2    1/3/2023        C   32.0  Product2  398.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
11  1/12/2023        B   60.0  Product2    NaN   West
9   1/10/2023        A   22.0  Product2  834.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
47  2/17/2023        B   69.0  Product3  143.0   West
1    1/2/2023        B   39.0  Product3  110.0  North
44  2/14/2023        A   96.0  Product3  830.0   East
43  2/13/2023        A   43.0  Product3  949.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
36   2/6/2023        C   36.0  Product3  177.0   East
22  1/23/2023        B   62.0  Product3  942.0  North
12  1/13/2023        A   70.0  Product3  628.0  South
34   2/4/2023        C   70.0  Product3  669.0   West
33   2/3/2023        C   27.0  Product3    NaN   East
32   2/2/2023        B   63.0  Product3  338.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
28  1/29/2023        B    NaN  Product3  617.0  North
20  1/21/2023        C   82.0  Product3  606.0  South
8    1/9/2023        C   37.0  Product3  772.0   West
49  2/19/2023        C   11.0  Product3  708.0  North

Sort DataFrame by Sales

In [9]:
df.sort_values(by='Sales')
print(df.sort_values(by='Sales'))

         Date Category  Value   Product  Sales Region
17  1/18/2023        C    NaN  Product1  108.0   West
1    1/2/2023        B   39.0  Product3  110.0  North
47  2/17/2023        B   69.0  Product3  143.0   West
39   2/9/2023        A   62.0  Product1  155.0   West
42  2/12/2023        A   93.0  Product3  164.0   West
36   2/6/2023        C   36.0  Product3  177.0   East
48  2/18/2023        C   65.0  Product3  182.0  North
31   2/1/2023        A   17.0  Product2  189.0   West
5    1/6/2023        B   54.0  Product3  192.0   West
27  1/28/2023        C   56.0  Product2  224.0  North
41  2/11/2023        C   97.0  Product1  256.0   East
32   2/2/2023        B   63.0  Product3  338.0  South
23  1/24/2023        C   92.0  Product2  342.0   West
2    1/3/2023        C   32.0  Product2  398.0   East
38   2/8/2023        C   94.0  Product1  408.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
24  1/25/2023        A   24.0  Product2  458.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
16  1/17/2023        C   93.0  Product2  511.0  South
3    1/4/2023        B    8.0  Product1  522.0   East
40  2/10/2023        B   15.0  Product1  578.0   East
18  1/19/2023        A   31.0  Product2  578.0   West
25  1/26/2023        C   95.0  Product1  584.0   West
45  2/15/2023        B   99.0  Product2  599.0   West
20  1/21/2023        C   82.0  Product3  606.0  South
28  1/29/2023        B    NaN  Product3  617.0  North
26  1/27/2023        C   71.0  Product2  619.0  North
12  1/13/2023        A   70.0  Product3  628.0  South
34   2/4/2023        C   70.0  Product3  669.0   West
49  2/19/2023        C   11.0  Product3  708.0  North
30  1/31/2023        B   50.0  Product3  735.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
29  1/30/2023        C   51.0  Product2  737.0  South
0    1/1/2023        A   28.0  Product1  754.0   East
8    1/9/2023        C   37.0  Product3  772.0   West
44  2/14/2023        A   96.0  Product3  830.0   East
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
4    1/5/2023        B   26.0  Product3  869.0  North
14  1/15/2023        A   47.0  Product2  893.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
6    1/7/2023        A   16.0  Product1  936.0   East
46  2/16/2023        B    6.0  Product1  938.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
43  2/13/2023        A   43.0  Product3  949.0   East
21  1/22/2023        C   37.0  Product2  992.0  South
11  1/12/2023        B   60.0  Product2    NaN   West
33   2/3/2023        C   27.0  Product3    NaN   East
35   2/5/2023        B   60.0  Product2    NaN   West
37   2/7/2023        C    2.0  Product1    NaN  North

Sort DataFrame by Region

In [8]:
df.sort_values(by='Region')
print(df.sort_values(by='Region'))

         Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
43  2/13/2023        A   43.0  Product3  949.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
40  2/10/2023        B   15.0  Product1  578.0   East
36   2/6/2023        C   36.0  Product3  177.0   East
33   2/3/2023        C   27.0  Product3    NaN   East
19  1/20/2023        A   59.0  Product1  736.0   East
13  1/14/2023        A   69.0  Product1  423.0   East
24  1/25/2023        A   24.0  Product2  458.0   East
2    1/3/2023        C   32.0  Product2  398.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
6    1/7/2023        A   16.0  Product1  936.0   East
10  1/11/2023        B    7.0  Product1  842.0  North
1    1/2/2023        B   39.0  Product3  110.0  North
4    1/5/2023        B   26.0  Product3  869.0  North
37   2/7/2023        C    2.0  Product1    NaN  North
28  1/29/2023        B    NaN  Product3  617.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
26  1/27/2023        C   71.0  Product2  619.0  North
48  2/18/2023        C   65.0  Product3  182.0  North
22  1/23/2023        B   62.0  Product3  942.0  North
49  2/19/2023        C   11.0  Product3  708.0  North
15  1/16/2023        C    NaN  Product1  895.0  North
29  1/30/2023        C   51.0  Product2  737.0  South
20  1/21/2023        C   82.0  Product3  606.0  South
46  2/16/2023        B    6.0  Product1  938.0  South
12  1/13/2023        A   70.0  Product3  628.0  South
32   2/2/2023        B   63.0  Product3  338.0  South
16  1/17/2023        C   93.0  Product2  511.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
38   2/8/2023        C   94.0  Product1  408.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
45  2/15/2023        B   99.0  Product2  599.0   West
11  1/12/2023        B   60.0  Product2    NaN   West
42  2/12/2023        A   93.0  Product3  164.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
14  1/15/2023        A   47.0  Product2  893.0   West
39   2/9/2023        A   62.0  Product1  155.0   West
23  1/24/2023        C   92.0  Product2  342.0   West
34   2/4/2023        C   70.0  Product3  669.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
30  1/31/2023        B   50.0  Product3  735.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
17  1/18/2023        C    NaN  Product1  108.0   West
18  1/19/2023        A   31.0  Product2  578.0   West
7    1/8/2023        C   89.0  Product1  488.0   West
25  1/26/2023        C   95.0  Product1  584.0   West
35   2/5/2023        B   60.0  Product2    NaN   West
5    1/6/2023        B   54.0  Product3  192.0   West