<a href="https://colab.research.google.com/github/mehjabeenalam-ux/REC-2-Machine-Learning/blob/main/EDA_Pandas_MiniProject_MissingData_DuplicateData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Checking Duplicate Values and Mossing Values

Import Pandas Module

In [2]:
import pandas as pd

Loading Data: Printing the entire dataset from the CSV File

In [3]:
pd.read_csv("data.csv")  #Reads CSV File
df = pd.read_csv("data.csv")
print(df)

         Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
1    1/2/2023        B   39.0  Product3  110.0  North
2    1/3/2023        C   32.0  Product2  398.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
11  1/12/2023        B   60.0  Product2    NaN   West
12  1/13/2023        A   70.0  Product3  628.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
16  1/17/2023        C   93.0  Product2  511.0  South
17  1/18/2023        C    NaN  Product1  108.0   West
18  1/19/2023        A   31.0  Product2  578.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
26  1/27/2023        C   71.0  Product2  619.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
28  1/29/2023        B    NaN  Product3  617.0  North
29  1/30/2023        C   51.0  Product2  737.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
32   2/2/2023        B   63.0  Product3  338.0  South
33   2/3/2023        C   27.0  Product3    NaN   East
34   2/4/2023        C   70.0  Product3  669.0   West
35   2/5/2023        B   60.0  Product2    NaN   West
36   2/6/2023        C   36.0  Product3  177.0   East
37   2/7/2023        C    2.0  Product1    NaN  North
38   2/8/2023        C   94.0  Product1  408.0  South
39   2/9/2023        A   62.0  Product1  155.0   West
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
43  2/13/2023        A   43.0  Product3  949.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North

Basic Few Data Overview

Printing Names of the Column Headings

In [8]:
print(df.columns)

Index(['Date', 'Category', 'Value', 'Product', 'Sales', 'Region'], dtype='object')

Computing Number of Rows and Columns

In [7]:
print(df.shape)

(50, 6)

Step 3: Checking Missing Values

Count Missing Values in each column

In [15]:
print(df.isnull().sum())

Date        0
Category    0
Value       3
Product     0
Sales       4
Region      0
dtype: int64

Count Missing Values in each column

In [16]:
print(df.isna().sum())

Date        0
Category    0
Value       3
Product     0
Sales       4
Region      0
dtype: int64

In Pandas, df.isna() and df.isnull() do exactly the same thing — they are identical functions that both return a DataFrame of the same shape as df with True where values are missing (NaN/None) and False otherwise.

Short answer (one sentence):
- There is no difference — isna() and isnull() are aliases (two different names for the same function) in Pandas, so df.isna().sum() and df.isnull().sum() always give identical results.

Display Rows with Missing Values

In [17]:
print(df[df.isnull().any(axis=1)])

         Date Category  Value   Product  Sales Region
11  1/12/2023        B   60.0  Product2    NaN   West
15  1/16/2023        C    NaN  Product1  895.0  North
17  1/18/2023        C    NaN  Product1  108.0   West
28  1/29/2023        B    NaN  Product3  617.0  North
33   2/3/2023        C   27.0  Product3    NaN   East
35   2/5/2023        B   60.0  Product2    NaN   West
37   2/7/2023        C    2.0  Product1    NaN  North

 Removes rows with Missing Values

In [18]:
print(df.dropna())

         Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
1    1/2/2023        B   39.0  Product3  110.0  North
2    1/3/2023        C   32.0  Product2  398.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
12  1/13/2023        A   70.0  Product3  628.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
16  1/17/2023        C   93.0  Product2  511.0  South
18  1/19/2023        A   31.0  Product2  578.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
26  1/27/2023        C   71.0  Product2  619.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
29  1/30/2023        C   51.0  Product2  737.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
32   2/2/2023        B   63.0  Product3  338.0  South
34   2/4/2023        C   70.0  Product3  669.0   West
36   2/6/2023        C   36.0  Product3  177.0   East
38   2/8/2023        C   94.0  Product1  408.0  South
39   2/9/2023        A   62.0  Product1  155.0   West
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
43  2/13/2023        A   43.0  Product3  949.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North

Checking Number of Rows and Columns after Rows with Missing Values

In [24]:
df_clean = df.dropna()
print(df_clean.shape)

(43, 6)

Step 4: Checking Duplicate Values

Checks Duplicate Values & returns a Boolean Series of Duplicate Values

In [10]:
print(df.duplicated)

<bound method DataFrame.duplicated of          Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
1    1/2/2023        B   39.0  Product3  110.0  North
2    1/3/2023        C   32.0  Product2  398.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
11  1/12/2023        B   60.0  Product2    NaN   West
12  1/13/2023        A   70.0  Product3  628.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
16  1/17/2023        C   93.0  Product2  511.0  South
17  1/18/2023        C    NaN  Product1  108.0   West
18  1/19/2023        A   31.0  Product2  578.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
26  1/27/2023        C   71.0  Product2  619.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
28  1/29/2023        B    NaN  Product3  617.0  North
29  1/30/2023        C   51.0  Product2  737.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
32   2/2/2023        B   63.0  Product3  338.0  South
33   2/3/2023        C   27.0  Product3    NaN   East
34   2/4/2023        C   70.0  Product3  669.0   West
35   2/5/2023        B   60.0  Product2    NaN   West
36   2/6/2023        C   36.0  Product3  177.0   East
37   2/7/2023        C    2.0  Product1    NaN  North
38   2/8/2023        C   94.0  Product1  408.0  South
39   2/9/2023        A   62.0  Product1  155.0   West
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
43  2/13/2023        A   43.0  Product3  949.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North>

Removes Duplicate Values

In [12]:
print(df.drop_duplicates)

<bound method DataFrame.drop_duplicates of          Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
1    1/2/2023        B   39.0  Product3  110.0  North
2    1/3/2023        C   32.0  Product2  398.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
11  1/12/2023        B   60.0  Product2    NaN   West
12  1/13/2023        A   70.0  Product3  628.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
16  1/17/2023        C   93.0  Product2  511.0  South
17  1/18/2023        C    NaN  Product1  108.0   West
18  1/19/2023        A   31.0  Product2  578.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
26  1/27/2023        C   71.0  Product2  619.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
28  1/29/2023        B    NaN  Product3  617.0  North
29  1/30/2023        C   51.0  Product2  737.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
32   2/2/2023        B   63.0  Product3  338.0  South
33   2/3/2023        C   27.0  Product3    NaN   East
34   2/4/2023        C   70.0  Product3  669.0   West
35   2/5/2023        B   60.0  Product2    NaN   West
36   2/6/2023        C   36.0  Product3  177.0   East
37   2/7/2023        C    2.0  Product1    NaN  North
38   2/8/2023        C   94.0  Product1  408.0  South
39   2/9/2023        A   62.0  Product1  155.0   West
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
43  2/13/2023        A   43.0  Product3  949.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North>

Displays Duplicate Rows

In [13]:
print(df[df.duplicated()])

Empty DataFrame
Columns: [Date, Category, Value, Product, Sales, Region]
Index: []

Counts Duplicate Rows

In [14]:
print(df.duplicated().sum())

0

Summary Statistics

In [31]:
#Mean of Numerical Columns
# print(df.mean(axis=2))

# df.mode(): Mode of Numerical Columns
# df.median():  Median of Numerical Columns
# df.stf(): Standard Deviation of Numerical Columns
# df.var(): Variance of Numerical Columns

# df.sum(): Sum of Numerical Columns
# df.min(): Minimum Value of Numerical Columns
# df.max(): Maximum Value of Numerical Columns
# df.skew(): Skew of Numerical Columns
# df.kurt(): Kurtosis of Numerical Columns
# df.quantile(): Quantile of Numerical Columns
# df.count():Count of Numerical Values per Columns
# df.nunique(): Number of Unique Values per column