<a href="https://colab.research.google.com/github/mehjabeenalam-ux/REC-2-Machine-Learning/blob/main/Mini_Data_Selection%26Filtering_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Selection and Filtering Mini Example from ChatGPT

In [1]:
import pandas as pd

Sample employee dataset

In [10]:
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'salary': [70000, 120000, 85000, 95000],
    'department': ['IT', 'Sales', 'IT', 'Sales']
})

print(df)

      name  age  salary department
0    Alice   25   70000         IT
1      Bob   30  120000      Sales
2  Charlie   35   85000         IT
3    David   40   95000      Sales

1. Boolean filtering – most common & fastest

In [5]:
high_salary = df[df['salary'] > 90000]                  # Employees earning > $90k
print("High earners:\n", high_salary)

High earners:
     name  age  salary department
1    Bob   30  120000      Sales
3  David   40   95000      Sales

2. .loc[] with condition – label/boolean style (very flexible)

In [6]:
senior_staff = df.loc[df['age'] > 30, ['name', 'salary']]  # Only name & salary for age > 30
print("\nSenior staff:\n", senior_staff)

Senior staff:
       name  salary
2  Charlie   85000
3    David   95000

3. .query() – clean SQL-like syntax (great for complex conditions)

In [7]:
it_high_earners = df.query("department == 'IT' and salary > 80000")
print("\nIT high earners:\n", it_high_earners)

IT high earners:
       name  age  salary department
2  Charlie   35   85000         IT

4. .iloc[] – position-based slicing (integer index)

In [8]:
middle_rows = df.iloc[1:3]                             # Rows 1 to 2 (0-based, exclusive end)
print("\nMiddle rows:\n", middle_rows)

Middle rows:
       name  age  salary department
1      Bob   30  120000      Sales
2  Charlie   35   85000         IT

5. .isin() – membership check (filter by list of values)

In [9]:
sales_or_it = df[df['department'].isin(['Sales', 'IT'])]
print("\nSales or IT department:\n", sales_or_it)

Sales or IT department:
       name  age  salary department
0    Alice   25   70000         IT
1      Bob   30  120000      Sales
2  Charlie   35   85000         IT
3    David   40   95000      Sales