<a href="https://colab.research.google.com/github/mehjabeenalam-ux/REC-2-Machine-Learning/blob/main/Pandas_EDA_MiniProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Pandas Module

In [10]:
import pandas as pd

Step 1: Data Loading: Load data from CSV, Excel, SQL, etc., into a DataFrame

In [13]:
pd.read_csv("/data.csv")  #Reads CSV File
df = pd.read_csv("/data.csv")
print(df)

         Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
1    1/2/2023        B   39.0  Product3  110.0  North
2    1/3/2023        C   32.0  Product2  398.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
11  1/12/2023        B   60.0  Product2    NaN   West
12  1/13/2023        A   70.0  Product3  628.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
16  1/17/2023        C   93.0  Product2  511.0  South
17  1/18/2023        C    NaN  Product1  108.0   West
18  1/19/2023        A   31.0  Product2  578.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
26  1/27/2023        C   71.0  Product2  619.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
28  1/29/2023        B    NaN  Product3  617.0  North
29  1/30/2023        C   51.0  Product2  737.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
32   2/2/2023        B   63.0  Product3  338.0  South
33   2/3/2023        C   27.0  Product3    NaN   East
34   2/4/2023        C   70.0  Product3  669.0   West
35   2/5/2023        B   60.0  Product2    NaN   West
36   2/6/2023        C   36.0  Product3  177.0   East
37   2/7/2023        C    2.0  Product1    NaN  North
38   2/8/2023        C   94.0  Product1  408.0  South
39   2/9/2023        A   62.0  Product1  155.0   West
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
43  2/13/2023        A   43.0  Product3  949.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North

Step 2 Data Overview: Get quick insights about shape, columns, types, and first/last rows.

It is used for understanding dataset size, features, and data types before feature engineering.

Display first 5 rows

In [38]:
print(df.head(5))

       Date Category  Value   Product  Sales Region
0  1/1/2023        A   28.0  Product1  754.0   East
1  1/2/2023        B   39.0  Product3  110.0  North
2  1/3/2023        C   32.0  Product2  398.0   East
3  1/4/2023        B    8.0  Product1  522.0   East
4  1/5/2023        B   26.0  Product3  869.0  North

Displays last 5 rows (default=5)

In [46]:
print(df.tail(5))

         Date Category  Value   Product  Sales Region
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North

Data about Number of Rows and Columns

In [40]:
print(df.shape) #Returns rows & columns

(50, 6)

 Column Data Types and Memory Usage

In [47]:
print(df.info) #Returns columns data types & memory usage

<bound method DataFrame.info of          Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
1    1/2/2023        B   39.0  Product3  110.0  North
2    1/3/2023        C   32.0  Product2  398.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
11  1/12/2023        B   60.0  Product2    NaN   West
12  1/13/2023        A   70.0  Product3  628.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
16  1/17/2023        C   93.0  Product2  511.0  South
17  1/18/2023        C    NaN  Product1  108.0   West
18  1/19/2023        A   31.0  Product2  578.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
26  1/27/2023        C   71.0  Product2  619.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
28  1/29/2023        B    NaN  Product3  617.0  North
29  1/30/2023        C   51.0  Product2  737.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
32   2/2/2023        B   63.0  Product3  338.0  South
33   2/3/2023        C   27.0  Product3    NaN   East
34   2/4/2023        C   70.0  Product3  669.0   West
35   2/5/2023        B   60.0  Product2    NaN   West
36   2/6/2023        C   36.0  Product3  177.0   East
37   2/7/2023        C    2.0  Product1    NaN  North
38   2/8/2023        C   94.0  Product1  408.0  South
39   2/9/2023        A   62.0  Product1  155.0   West
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
43  2/13/2023        A   43.0  Product3  949.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North>

List all columns names

In [42]:
print(df.columns)

Index(['Date', 'Category', 'Value', 'Product', 'Sales', 'Region'], dtype='object')

Show Index Range

In [43]:
print(df.index)

RangeIndex(start=0, stop=50, step=1)

Shows Data Types of all columns

In [44]:
print(df.dtypes)

Date         object
Category     object
Value       float64
Product      object
Sales       float64
Region       object
dtype: object

Summary Statistics of numerical columns

In [45]:
print(df.describe)

# print(df.describe(include=all)) #Summary Statistics of all columns

<bound method NDFrame.describe of          Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
1    1/2/2023        B   39.0  Product3  110.0  North
2    1/3/2023        C   32.0  Product2  398.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
11  1/12/2023        B   60.0  Product2    NaN   West
12  1/13/2023        A   70.0  Product3  628.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
16  1/17/2023        C   93.0  Product2  511.0  South
17  1/18/2023        C    NaN  Product1  108.0   West
18  1/19/2023        A   31.0  Product2  578.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
26  1/27/2023        C   71.0  Product2  619.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
28  1/29/2023        B    NaN  Product3  617.0  North
29  1/30/2023        C   51.0  Product2  737.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
32   2/2/2023        B   63.0  Product3  338.0  South
33   2/3/2023        C   27.0  Product3    NaN   East
34   2/4/2023        C   70.0  Product3  669.0   West
35   2/5/2023        B   60.0  Product2    NaN   West
36   2/6/2023        C   36.0  Product3  177.0   East
37   2/7/2023        C    2.0  Product1    NaN  North
38   2/8/2023        C   94.0  Product1  408.0  South
39   2/9/2023        A   62.0  Product1  155.0   West
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
43  2/13/2023        A   43.0  Product3  949.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North>