<a href="https://colab.research.google.com/github/mehjabeenalam-ux/REC-2-Machine-Learning/blob/main/Profit%26Loss_Statements__ZipFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Profit and Loss Statements using Zip Functions

Create a list of items, cost price, sale prices, quantities in stock and quantities sold

In [26]:
items_grocery = ["Rice", "Sugar", "Salt", "Eggs", "Oil", "Flour"]
sales_prices = [2, 3, 4, 5, 6, 7]
quantities_sold_tons = [100, 200, 300, 400, 500, 600]

print(items_grocery)
print(sales_prices)
print(quantities_sold_tons)

print(f"Grocery Items Sold: {items_grocery}")
print(f"Grocery Sales Prices in USD of: {items_grocery} are {sales_prices}")
print(f"Grocery Quantities sold in USD : {items_grocery} at {sales_prices} are {quantities_sold_tons} tons")

['Rice', 'Sugar', 'Salt', 'Eggs', 'Oil', 'Flour']
[2, 3, 4, 5, 6, 7]
[100, 200, 300, 400, 500, 600]
Grocery Items Sold: ['Rice', 'Sugar', 'Salt', 'Eggs', 'Oil', 'Flour']
Grocery Sales Prices in USD of: ['Rice', 'Sugar', 'Salt', 'Eggs', 'Oil', 'Flour'] are [2, 3, 4, 5, 6, 7]
Grocery Quantities sold in USD : ['Rice', 'Sugar', 'Salt', 'Eggs', 'Oil', 'Flour'] at [2, 3, 4, 5, 6, 7] are [100, 200, 300, 400, 500, 600] tons

Let's Zip them into one iterable

In [28]:
all_items = list(zip(items_grocery, sales_prices, quantities_sold_tons))
print(all_items)

[('Rice', 2, 100), ('Sugar', 3, 200), ('Salt', 4, 300), ('Eggs', 5, 400), ('Oil', 6, 500), ('Flour', 7, 600)]
Rice 2 100
Sugar 3 200
Salt 4 300
Eggs 5 400
Oil 6 500
Flour 7 600

Mini Sales Report through a For Loop

In [34]:
for item, sale, quantity in (zip(items_grocery, sales_prices, quantities_sold_tons)):
  print(item, sale, quantity)

Rice 2 100
Sugar 3 200
Salt 4 300
Eggs 5 400
Oil 6 500
Flour 7 600

For Loop with Formatted Strings for Mini Sales Report

In [33]:
for item, sale, quantity in (zip(items_grocery, sales_prices, quantities_sold_tons)):
  print(f"{item} Sales Price USD {sale} per Kilogram, Monthly Sales {quantity} tons")

Rice Sales Price USD 2 per Kilogram, Monthly Sales 100 tons
Sugar Sales Price USD 3 per Kilogram, Monthly Sales 200 tons
Salt Sales Price USD 4 per Kilogram, Monthly Sales 300 tons
Eggs Sales Price USD 5 per Kilogram, Monthly Sales 400 tons
Oil Sales Price USD 6 per Kilogram, Monthly Sales 500 tons
Flour Sales Price USD 7 per Kilogram, Monthly Sales 600 tons

Revenue Calculations done 2 ways

In [37]:
Revenue = [sale*quantity for sale, quantity in zip(sales_prices, quantities_sold_tons)]

print(Revenue)

Total_Revenue = []

for sale, quantity in zip(sales_prices, quantities_sold_tons):
    Total_Revenue.append(sale * quantity)

print(Total_Revenue)

[200, 600, 1200, 2000, 3000, 4200]
[200, 600, 1200, 2000, 3000, 4200]

Sum of Revenue

In [38]:
Sum_Revenue_All_Items = sum(Total_Revenue)
print(Sum_Revenue_All_Items)

11200

Expenses (Enter Expenses for Rent, Utlity Bills, Salaries, Others)

In [42]:
Expenses = [2000, 3000, 1000, 2000]
print(Expenses)

[2000, 3000, 1000, 2000]

Adding up Expenses

In [43]:
Total_Expenses = sum(Expenses)
print(Total_Expenses)

8000

Profit/Loss

In [47]:
Profit = Sum_Revenue_All_Items - Total_Expenses
print(Profit)

3200
Net Profit

Ternary Operator for Auto calculating Profit/Loss

In [48]:
Net_result = "Net Profit" if Profit > 0 else "Net Loss"
print(Net_result)

Net Profit

Scenario 1: Net Profit

In [60]:
items_grocery = ["Rice", "Sugar", "Salt", "Eggs", "Oil", "Flour"]
sales_prices = [2, 3, 4, 5, 6, 7]
quantities_sold_tons = [100, 200, 300, 400, 500, 600]

print(items_grocery)
print(sales_prices)
print(quantities_sold_tons)


all_items = list(zip(items_grocery, sales_prices, quantities_sold_tons))
print(all_items)

Revenue = [sale*quantity for sale, quantity in zip(sales_prices, quantities_sold_tons)]

print(f"Item wise Revenue {Revenue}")

Sum_Revenue_All_Items = sum(Total_Revenue)
print(f"Total Revenue: USD {Sum_Revenue_All_Items}")

Expenses = [2000, 3000, 1000, 2000]
print(f"Item wise Expenses {Expenses}")

Total_Expenses = sum(Expenses)
print(f"Total Expenses: USD {Total_Expenses}")


Profit = Sum_Revenue_All_Items - Total_Expenses
print(f"Net profit/Loss: USD {Profit}")


Net_result = "Net Profit" if Profit > 0 else "Net Loss"
print(Net_result)

print(f"Mini Sales Report")
print(f"Grocery Items Sold: {items_grocery}")
print(f"Sales Prices in USD per kilogram: {sales_prices}")
print(f"Grocery Quantities sold in tons : {quantities_sold_tons}")
print(f"Total Revenue is USD {Sum_Revenue_All_Items}")
print(f"Total Expenses is USD {Total_Expenses}")
print(f"{Net_result} is USD {Profit}")

['Rice', 'Sugar', 'Salt', 'Eggs', 'Oil', 'Flour']
[2, 3, 4, 5, 6, 7]
[100, 200, 300, 400, 500, 600]
[('Rice', 2, 100), ('Sugar', 3, 200), ('Salt', 4, 300), ('Eggs', 5, 400), ('Oil', 6, 500), ('Flour', 7, 600)]
Item wise Revenue [200, 600, 1200, 2000, 3000, 4200]
Total Revenue: USD 11200
Item wise Expenses [2000, 3000, 1000, 2000]
Total Expenses: USD 8000
Net profit/Loss: USD 3200
Net Profit
Mini Sales Report
Grocery Items Sold: ['Rice', 'Sugar', 'Salt', 'Eggs', 'Oil', 'Flour']
Sales Prices in USD per kilogram: [2, 3, 4, 5, 6, 7]
Grocery Quantities sold in tons : [100, 200, 300, 400, 500, 600]
Total Revenue is USD 11200
Total Expenses is USD 8000
Net Profit is USD 3200

Scenario 2: Net Loss

In [61]:
items_grocery = ["Rice", "Sugar", "Salt", "Eggs", "Oil", "Flour"]
sales_prices = [2, 3, 4, 5, 6, 7]
quantities_sold_tons = [100, 200, 300, 400, 500, 600]

print(items_grocery)
print(sales_prices)
print(quantities_sold_tons)


all_items = list(zip(items_grocery, sales_prices, quantities_sold_tons))
print(all_items)

Revenue = [sale*quantity for sale, quantity in zip(sales_prices, quantities_sold_tons)]

print(f"Item wise Revenue {Revenue}")

Sum_Revenue_All_Items = sum(Total_Revenue)
print(f"Total Revenue: USD {Sum_Revenue_All_Items}")

Expenses = [20000, 3000, 1000, 2000]
print(f"Item wise Expenses {Expenses}")

Total_Expenses = sum(Expenses)
print(f"Total Expenses: USD {Total_Expenses}")


Profit = Sum_Revenue_All_Items - Total_Expenses
print(f"Net profit/Loss: USD {Profit}")


Net_result = "Net Profit" if Profit > 0 else "Net Loss"
print(Net_result)

print(f"Mini Sales Report")
print(f"Grocery Items Sold: {items_grocery}")
print(f"Sales Prices in USD per kilogram: {sales_prices}")
print(f"Grocery Quantities sold in tons : {quantities_sold_tons}")
print(f"Total Revenue is USD {Sum_Revenue_All_Items}")
print(f"Total Expenses is USD {Total_Expenses}")
print(f"{Net_result} is USD {Profit}")

['Rice', 'Sugar', 'Salt', 'Eggs', 'Oil', 'Flour']
[2, 3, 4, 5, 6, 7]
[100, 200, 300, 400, 500, 600]
[('Rice', 2, 100), ('Sugar', 3, 200), ('Salt', 4, 300), ('Eggs', 5, 400), ('Oil', 6, 500), ('Flour', 7, 600)]
Item wise Revenue [200, 600, 1200, 2000, 3000, 4200]
Total Revenue: USD 11200
Item wise Expenses [20000, 3000, 1000, 2000]
Total Expenses: USD 26000
Net profit/Loss: USD -14800
Net Loss
Mini Sales Report
Grocery Items Sold: ['Rice', 'Sugar', 'Salt', 'Eggs', 'Oil', 'Flour']
Sales Prices in USD per kilogram: [2, 3, 4, 5, 6, 7]
Grocery Quantities sold in tons : [100, 200, 300, 400, 500, 600]
Total Revenue is USD 11200
Total Expenses is USD 26000
Net Loss is USD -14800