<a href="https://colab.research.google.com/github/mehjabeenalam-ux/REC-2-Machine-Learning/blob/main/Updated_EDA_Pandas_MiniProject_MissingData_DuplicateData_SummaryStatistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Checking Duplicate Values and Missing Values

1.   List item
2.   List item

Import Pandas Module

In [1]:
import pandas as pd

Loading Data: Printing the entire dataset from the CSV File

In [2]:
pd.read_csv("data.csv")  #Reads CSV File
df = pd.read_csv("data.csv")
print(df)

         Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
1    1/2/2023        B   39.0  Product3  110.0  North
2    1/3/2023        C   32.0  Product2  398.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
11  1/12/2023        B   60.0  Product2    NaN   West
12  1/13/2023        A   70.0  Product3  628.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
16  1/17/2023        C   93.0  Product2  511.0  South
17  1/18/2023        C    NaN  Product1  108.0   West
18  1/19/2023        A   31.0  Product2  578.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
26  1/27/2023        C   71.0  Product2  619.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
28  1/29/2023        B    NaN  Product3  617.0  North
29  1/30/2023        C   51.0  Product2  737.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
32   2/2/2023        B   63.0  Product3  338.0  South
33   2/3/2023        C   27.0  Product3    NaN   East
34   2/4/2023        C   70.0  Product3  669.0   West
35   2/5/2023        B   60.0  Product2    NaN   West
36   2/6/2023        C   36.0  Product3  177.0   East
37   2/7/2023        C    2.0  Product1    NaN  North
38   2/8/2023        C   94.0  Product1  408.0  South
39   2/9/2023        A   62.0  Product1  155.0   West
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
43  2/13/2023        A   43.0  Product3  949.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North

Basic Few Data Overview

Printing Names of the Column Headings

In [4]:
print(df.columns)

Index(['Date', 'Category', 'Value', 'Product', 'Sales', 'Region'], dtype='object')

Computing Number of Rows and Columns

In [3]:
print(df.shape)
print(df.size) #Row*Column

(50, 6)
300

Step 3: Checking Missing Values

Count Missing Values in each column

In [9]:
print(df.isnull().sum())

Date        0
Category    0
Value       3
Product     0
Sales       4
Region      0
dtype: int64

Count Missing Values in each column

In [10]:
print(df.isna().sum())

Date        0
Category    0
Value       3
Product     0
Sales       4
Region      0
dtype: int64

In Pandas, df.isna() and df.isnull() do exactly the same thing — they are identical functions that both return a DataFrame of the same shape as df with True where values are missing (NaN/None) and False otherwise.

Short answer (one sentence):
- There is no difference — isna() and isnull() are aliases (two different names for the same function) in Pandas, so df.isna().sum() and df.isnull().sum() always give identical results.

Display Rows with Missing Values

In [11]:
print(df[df.isnull().any(axis=1)])

         Date Category  Value   Product  Sales Region
11  1/12/2023        B   60.0  Product2    NaN   West
15  1/16/2023        C    NaN  Product1  895.0  North
17  1/18/2023        C    NaN  Product1  108.0   West
28  1/29/2023        B    NaN  Product3  617.0  North
33   2/3/2023        C   27.0  Product3    NaN   East
35   2/5/2023        B   60.0  Product2    NaN   West
37   2/7/2023        C    2.0  Product1    NaN  North

 Removes rows with Missing Values

In [12]:
print(df.dropna())

         Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
1    1/2/2023        B   39.0  Product3  110.0  North
2    1/3/2023        C   32.0  Product2  398.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
12  1/13/2023        A   70.0  Product3  628.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
16  1/17/2023        C   93.0  Product2  511.0  South
18  1/19/2023        A   31.0  Product2  578.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
26  1/27/2023        C   71.0  Product2  619.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
29  1/30/2023        C   51.0  Product2  737.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
32   2/2/2023        B   63.0  Product3  338.0  South
34   2/4/2023        C   70.0  Product3  669.0   West
36   2/6/2023        C   36.0  Product3  177.0   East
38   2/8/2023        C   94.0  Product1  408.0  South
39   2/9/2023        A   62.0  Product1  155.0   West
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
43  2/13/2023        A   43.0  Product3  949.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North

Checking Number of Rows and Columns after Rows with Missing Values

In [13]:
df_clean = df.dropna()
print(df_clean.shape)

(43, 6)

Step 4: Checking Duplicate Values

Checks Duplicate Values & returns a Boolean Series of Duplicate Values

In [14]:
print(df.duplicated)

<bound method DataFrame.duplicated of          Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
1    1/2/2023        B   39.0  Product3  110.0  North
2    1/3/2023        C   32.0  Product2  398.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
11  1/12/2023        B   60.0  Product2    NaN   West
12  1/13/2023        A   70.0  Product3  628.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
16  1/17/2023        C   93.0  Product2  511.0  South
17  1/18/2023        C    NaN  Product1  108.0   West
18  1/19/2023        A   31.0  Product2  578.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
26  1/27/2023        C   71.0  Product2  619.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
28  1/29/2023        B    NaN  Product3  617.0  North
29  1/30/2023        C   51.0  Product2  737.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
32   2/2/2023        B   63.0  Product3  338.0  South
33   2/3/2023        C   27.0  Product3    NaN   East
34   2/4/2023        C   70.0  Product3  669.0   West
35   2/5/2023        B   60.0  Product2    NaN   West
36   2/6/2023        C   36.0  Product3  177.0   East
37   2/7/2023        C    2.0  Product1    NaN  North
38   2/8/2023        C   94.0  Product1  408.0  South
39   2/9/2023        A   62.0  Product1  155.0   West
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
43  2/13/2023        A   43.0  Product3  949.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North>

Removes Duplicate Values

In [15]:
print(df.drop_duplicates)

<bound method DataFrame.drop_duplicates of          Date Category  Value   Product  Sales Region
0    1/1/2023        A   28.0  Product1  754.0   East
1    1/2/2023        B   39.0  Product3  110.0  North
2    1/3/2023        C   32.0  Product2  398.0   East
3    1/4/2023        B    8.0  Product1  522.0   East
4    1/5/2023        B   26.0  Product3  869.0  North
5    1/6/2023        B   54.0  Product3  192.0   West
6    1/7/2023        A   16.0  Product1  936.0   East
7    1/8/2023        C   89.0  Product1  488.0   West
8    1/9/2023        C   37.0  Product3  772.0   West
9   1/10/2023        A   22.0  Product2  834.0   West
10  1/11/2023        B    7.0  Product1  842.0  North
11  1/12/2023        B   60.0  Product2    NaN   West
12  1/13/2023        A   70.0  Product3  628.0  South
13  1/14/2023        A   69.0  Product1  423.0   East
14  1/15/2023        A   47.0  Product2  893.0   West
15  1/16/2023        C    NaN  Product1  895.0  North
16  1/17/2023        C   93.0  Product2  511.0  South
17  1/18/2023        C    NaN  Product1  108.0   West
18  1/19/2023        A   31.0  Product2  578.0   West
19  1/20/2023        A   59.0  Product1  736.0   East
20  1/21/2023        C   82.0  Product3  606.0  South
21  1/22/2023        C   37.0  Product2  992.0  South
22  1/23/2023        B   62.0  Product3  942.0  North
23  1/24/2023        C   92.0  Product2  342.0   West
24  1/25/2023        A   24.0  Product2  458.0   East
25  1/26/2023        C   95.0  Product1  584.0   West
26  1/27/2023        C   71.0  Product2  619.0  North
27  1/28/2023        C   56.0  Product2  224.0  North
28  1/29/2023        B    NaN  Product3  617.0  North
29  1/30/2023        C   51.0  Product2  737.0  South
30  1/31/2023        B   50.0  Product3  735.0   West
31   2/1/2023        A   17.0  Product2  189.0   West
32   2/2/2023        B   63.0  Product3  338.0  South
33   2/3/2023        C   27.0  Product3    NaN   East
34   2/4/2023        C   70.0  Product3  669.0   West
35   2/5/2023        B   60.0  Product2    NaN   West
36   2/6/2023        C   36.0  Product3  177.0   East
37   2/7/2023        C    2.0  Product1    NaN  North
38   2/8/2023        C   94.0  Product1  408.0  South
39   2/9/2023        A   62.0  Product1  155.0   West
40  2/10/2023        B   15.0  Product1  578.0   East
41  2/11/2023        C   97.0  Product1  256.0   East
42  2/12/2023        A   93.0  Product3  164.0   West
43  2/13/2023        A   43.0  Product3  949.0   East
44  2/14/2023        A   96.0  Product3  830.0   East
45  2/15/2023        B   99.0  Product2  599.0   West
46  2/16/2023        B    6.0  Product1  938.0  South
47  2/17/2023        B   69.0  Product3  143.0   West
48  2/18/2023        C   65.0  Product3  182.0  North
49  2/19/2023        C   11.0  Product3  708.0  North>

Displays Duplicate Rows

In [16]:
print(df[df.duplicated()])

Empty DataFrame
Columns: [Date, Category, Value, Product, Sales, Region]
Index: []

Counts Duplicate Rows

In [17]:
print(df.duplicated().sum())

0

Summary Statistics

In [5]:
#Mean of Numerical Columns
# print(df.mean(axis=2))

# df.mode(): Mode of Numerical Columns
# df.median():  Median of Numerical Columns
# df.stf(): Standard Deviation of Numerical Columns
# df.var(): Variance of Numerical Columns

# df.sum(): Sum of Numerical Columns
# df.min(): Minimum Value of Numerical Columns
# df.max(): Maximum Value of Numerical Columns
# df.skew(): Skew of Numerical Columns
# df.kurt(): Kurtosis of Numerical Columns
# df.quantile(): Quantile of Numerical Columns
# df.count():Count of Numerical Values per Columns
# df.nunique(): Number of Unique Values per column

print(df.describe())

           Value       Sales
count  47.000000   46.000000
mean   51.744681  557.130435
std    29.050532  274.598584
min     2.000000  108.000000
25%    27.500000  339.000000
50%    54.000000  591.500000
75%    70.000000  767.500000
max    99.000000  992.000000

Step 5: Summary Statistics

What df.describe() does?

- It generates summary statistics for all numeric columns by default.
- It shows a quick statistical overview of your data — very useful as one of the first steps in EDA.

In [7]:
df.describe()

           Value       Sales
count  47.000000   46.000000
mean   51.744681  557.130435
std    29.050532  274.598584
min     2.000000  108.000000
25%    27.500000  339.000000
50%    54.000000  591.500000
75%    70.000000  767.500000
max    99.000000  992.000000

What df.describe(include='all') does?

- It generates summary statistics for all numeric and non numeric columns by default.
- It shows a quick statistical overview of your data — very useful as one of the first steps in EDA.

This gives you a clean, transposed table with both numeric and categorical insights.

In [8]:
df.describe(include='all')

            Date Category      Value   Product       Sales Region
count         50       50  47.000000        50   46.000000     50
unique        50        3        NaN         3         NaN      4
top     1/1/2023        C        NaN  Product3         NaN   West
freq           1       21        NaN        19         NaN     18
mean         NaN      NaN  51.744681       NaN  557.130435    NaN
std          NaN      NaN  29.050532       NaN  274.598584    NaN
min          NaN      NaN   2.000000       NaN  108.000000    NaN
25%          NaN      NaN  27.500000       NaN  339.000000    NaN
50%          NaN      NaN  54.000000       NaN  591.500000    NaN
75%          NaN      NaN  70.000000       NaN  767.500000    NaN
max          NaN      NaN  99.000000       NaN  992.000000    NaN

Computing Mean of Numerical Columns

In [18]:
print(df.mean(numeric_only=True))

Value     51.744681
Sales    557.130435
dtype: float64

Computing Mode

In [19]:
print(df.mode(numeric_only=True))

   Value  Sales
0   37.0  578.0
1   60.0    NaN
2   62.0    NaN
3   69.0    NaN
4   70.0    NaN
5   93.0    NaN

Computing Median

In [20]:
print(df.median(numeric_only=True))

Value     54.0
Sales    591.5
dtype: float64

Computing Sum

In [21]:
print(df.sum(numeric_only=True))

Value     2432.0
Sales    25628.0
dtype: float64

Computing STD

In [22]:
print(df.std(numeric_only=True))

Value     29.050532
Sales    274.598584
dtype: float64

Computing Variance

In [23]:
print(df.var(numeric_only=True))

Value      843.933395
Sales    75404.382609
dtype: float64

Computing Minimum Values

In [25]:
print(df.min(numeric_only=True))

Value      2.0
Sales    108.0
dtype: float64

Computing Maximum values

In [26]:
print(df.max(numeric_only=True))

Value     99.0
Sales    992.0
dtype: float64

Computing Counts in each numerical columns

In [27]:
print(df.count(numeric_only=True))

Value    47
Sales    46
dtype: int64

Computing Skew

In [28]:
print(df.skew(numeric_only=True))

Value    0.040175
Sales   -0.177224
dtype: float64

Computing Kurtosis

In [30]:
print(df.kurtosis(numeric_only=True))

Value   -1.106102
Sales   -1.214086
dtype: float64

Computing Quantile

In [37]:
print(df.quantile(numeric_only=True))

Value     54.0
Sales    591.5
Name: 0.5, dtype: float64

Computing Unique Values in Product Column

In [42]:
print(df['Product'].unique())

['Product1' 'Product3' 'Product2']

Computing Unique Values in Region Column

In [44]:
print(df['Region'].unique())

['East' 'North' 'West' 'South']

Computing Non Unique Values in Product Column

In [43]:
print(df['Product'].nunique())

3

Computing Non Unique Values in Region Column

In [47]:
print(df['Region'].nunique())

4

Computing All Non Unique Values in this dataset

In [49]:
print(df.nunique())

Date        50
Category     3
Value       41
Product      3
Sales       45
Region       4
dtype: int64

Step 6: Value Counts and Distribution

 Value Counts and Distribution are among the most important and frequently used tools in the early stages of Exploratory Data Analysis (EDA) when working with pandas.

What do we mean by "distribution" in this context?

When we talk about the distribution of a categorical or discrete variable in EDA, we usually mean:

Which values exist (the unique categories)

How often each value appears (frequency)

How uneven or balanced that frequency is

What proportion each category represents of the total

value_counts() gives you exactly this information — very quickly.

Value_counts() is a pandas Series method that:

- Counts how many times each unique value appears in a column

- Returns the result sorted from most frequent to least frequent by default

Computing Value Counts ofthe Value Column

In [50]:
print(df["Value"].value_counts()) #Counts occurences of each unique value
print(df["Value"].value_counts(normalize=True)) #Normalized value Counts

Value
37.0    2
69.0    2
93.0    2
60.0    2
62.0    2
70.0    2
28.0    1
8.0     1
39.0    1
89.0    1
16.0    1
54.0    1
26.0    1
32.0    1
22.0    1
47.0    1
7.0     1
31.0    1
59.0    1
82.0    1
92.0    1
24.0    1
95.0    1
71.0    1
56.0    1
51.0    1
50.0    1
17.0    1
63.0    1
27.0    1
36.0    1
2.0     1
94.0    1
15.0    1
97.0    1
43.0    1
96.0    1
99.0    1
6.0     1
65.0    1
11.0    1
Name: count, dtype: int64
Value
37.0    0.042553
69.0    0.042553
93.0    0.042553
60.0    0.042553
62.0    0.042553
70.0    0.042553
28.0    0.021277
8.0     0.021277
39.0    0.021277
89.0    0.021277
16.0    0.021277
54.0    0.021277
26.0    0.021277
32.0    0.021277
22.0    0.021277
47.0    0.021277
7.0     0.021277
31.0    0.021277
59.0    0.021277
82.0    0.021277
92.0    0.021277
24.0    0.021277
95.0    0.021277
71.0    0.021277
56.0    0.021277
51.0    0.021277
50.0    0.021277
17.0    0.021277
63.0    0.021277
27.0    0.021277
36.0    0.021277
2.0     0.021277
94.0    0.021277
15.0    0.021277
97.0    0.021277
43.0    0.021277
96.0    0.021277
99.0    0.021277
6.0     0.021277
65.0    0.021277
11.0    0.021277
Name: proportion, dtype: float64

Computing Listing Unique and Non Unique Values of the Value Column

In [51]:
print(df["Value"].unique()) #Lists Unique Values
df["Value"].nunique() #Lists Non Unique Values

[28. 39. 32.  8. 26. 54. 16. 89. 37. 22.  7. 60. 70. 69. 47. nan 93. 31.
 59. 82. 62. 92. 24. 95. 71. 56. 51. 50. 17. 63. 27. 36.  2. 94. 15. 97.
 43. 96. 99.  6. 65. 11.]

41