<a href="https://colab.research.google.com/github/mehjabeenalam-ux/REC-2-Machine-Learning/blob/main/Zip_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Use Cases of Zip Functions

Zip Function (takes 2 or more sequences and converts into a Tuple)

Example 1 with Similar Data Types

In [1]:
shirts = ["Red", "Blue", "Green"]
pants  = ["Black", "Grey", "White"]

outfits = list(zip(shirts, pants))
print(outfits)

[('Red', 'Black'), ('Blue', 'Grey'), ('Green', 'White')]

Example 2 with Multiple Data Types

In [2]:
names = ["Alice", "Bob", "Charlie"]
ages  = [25, 30, 35]

zipped = list(zip(names, ages))
print(zipped)

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

Example 3 Unpacking with * (very common pattern) through running For Loops

In [3]:
for name, age in zip(names, ages):
    print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old

Example 4 Working on more than 2 iterables with different data types

In [4]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
symbols = ['!', '@', '#']

print(list(zip(letters, numbers, symbols)))

[('a', 1, '!'), ('b', 2, '@'), ('c', 3, '#')]

Example 5 Unequal lengths â†’ stops at shortest

In [5]:
x = [1, 2, 3, 4]
y = [10, 20]
print(list(zip(x, y)))

[(1, 10), (2, 20)]

Processing Sales Data with Zip Functions

In [6]:
products = ["Laptop", "Phone", "Tablet"]
prices   = [1200, 800, 450]
qty_sold = [15, 30, 25]

# Calculate total revenue per product in one clean loop
for product, price, quantity in zip(products, prices, qty_sold):
    revenue = price * quantity
    print(f"{product}: ${revenue:,} revenue")

Laptop: $18,000 revenue
Phone: $24,000 revenue
Tablet: $11,250 revenue

Zip Function with User Inputs

In [11]:
# Ask user for first list (e.g. names of products)
print("Enter some names (separate with commas):")
names_input = input().strip()
names = [name.strip() for name in names_input.split(',')]

# Ask for second list (e.g. ages)
print("Enter their sales quantity (same order, separate with commas):")
sales_input = input().strip()
sales = [int(sale.strip()) for sale in sales_input.split(',')]

# Now zip them together!
print("\nHere are your paired results:")
for name, sale in zip(names, sales):
    print(f"Total Quantity Sold for {name} is {sale} tons")

# # Bonus: Show as a nice list too
paired = list(zip(names, sales))
print("\nAll pairs:", paired)

Enter some names (separate with commas):
Eggs, Salt, Sugar, Flour, Rice
Enter their sales quantity (same order, separate with commas):
100, 200, 300, 400, 500

Here are your paired results:
Total Quantity Sold for Eggs is 100 tons
Total Quantity Sold for Salt is 200 tons
Total Quantity Sold for Sugar is 300 tons
Total Quantity Sold for Flour is 400 tons
Total Quantity Sold for Rice is 500 tons

All pairs: [('Eggs', 100), ('Salt', 200), ('Sugar', 300), ('Flour', 400), ('Rice', 500)]